<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tratamientos</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="extensions/filter-control/bootstrap-table-filter-control.css">
<script src="extensions/filter-control/bootstrap-table-filter-control.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}"/>

</head>
<body>
	<div class="container-fluid">
	<ul class="nav nav-pills" >
	  <li role="presentation" class="active"><a href="/tratamientos">Tratamientos</a></li>
	  <li role="presentation"><a href="/cultivos">Cultivos</a></li>
	  <li role="presentation"><a href="/productosFitosanitarios">Productos Fitosanitarios</a></li>
	 </ul>
	
	<div class="page-header">
	  <h1>Tus tratamientos</h1>
	</div>
	<p>
	En esta página te mostraremos tus tratamientos para las plagas.
	</p>
	
	<a href="/insertarTratamiento">Insertar Nuevo Tratamiento</a>
	
		<table class="table table-striped table-bordered table-hover">
			<form action="/tratamientos">
		        <thead>
		        	<tr class="filters">
                        <th>
                        	<div id="columna">
                        	<div class="col-sm-8">
                       			<input type="number" class="form-control" placeholder="Tratamiento" name="tratamiento" id="tratamiento">
                       		</div>
                       		<div class="col-sm-2">
                       			<a th:href="@{/ordenaTratamientos?por=AI}"><img th:src="@{assets/img/up.png}"/></a>
                                <a th:href="@{/ordenaTratamientos?por=DI}"><img th:src="@{assets/img/down.png}"/></a>
                       		</div>    
                        	</div>                       		                	
                        </th>
                        <th class="col-xs">
                       		<div class="col-sm-8">
                       			<input type="text" class="form-control" placeholder="Cultivo" name="cultivo" id="cultivo">
                       		</div>
                       		<div class="col-sm-2">
                       			<a th:href="@{/ordenaTratamientos?por=AC}"><img th:src="@{assets/img/up.png}"/></a>
                                <a th:href="@{/ordenaTratamientos?por=DC}"><img th:src="@{assets/img/down.png}"/></a>
                       		</div>                    	
                        </th>
                        <th class="col-xs">
                       		<div class="col-sm-8">
                       			<input type="text" class="form-control" placeholder="Producto" name="producto" id="producto">
                       		</div>
                       		<div class="col-sm-2">
                       			<a th:href="@{/ordenaTratamientos?por=AP}"><img th:src="@{assets/img/up.png}"/></a>
                                <a th:href="@{/ordenaTratamientos?por=DP}"><img th:src="@{assets/img/down.png}"/></a>
                       		</div>                    	
                        </th>
                        <th class="col-xs">
                       		<div class="col-sm-8">
                       			<input type="text" class="form-control" placeholder="Numero de lote" name="numeroLote" id="numeroLote">
                       		</div>
                       		<div class="col-sm-2">
                       			<a th:href="@{/ordenaTratamientos?por=ANL}"><img th:src="@{assets/img/up.png}"/></a>
                                <a th:href="@{/ordenaTratamientos?por=DNL}"><img th:src="@{assets/img/down.png}"/></a>
                       		</div>                    	
                        </th>
                        <th class="col-xs">
                       		<div class="col-sm-8">
                       			<input type="date" class="form-control" placeholder="Fecha de tratamiento" name="fechaTratamiento" id="fechaTratamiento">
                       		</div>
                       		<div class="col-sm-2">
                       			<a th:href="@{/ordenaTratamientos?por=AFT}"><img th:src="@{assets/img/up.png}"/></a>
                                <a th:href="@{/ordenaTratamientos?por=DFT}"><img th:src="@{assets/img/down.png}"/></a>
                       		</div>                    	
                        </th>
                        <th class="col-xs">
                       		<div class="col-sm-8">
                       			<input type="date" class="form-control" placeholder="Plazo de reentrada" name="finPlazoReentrada" id="plazoReentrada" >
                       		</div>
                       		<div class="col-sm-2">
                       			<a th:href="@{/ordenaTratamientos?por=APRec}"><img th:src="@{assets/img/up.png}"/></a>
                                <a th:href="@{/ordenaTratamientos?por=DPRec}"><img th:src="@{assets/img/down.png}"/></a>
                       		</div>                    	
                        </th>
                        <th class="col-xs">
                       		<div class="col-sm-8">
                       			<input type="date" class="form-control" placeholder="Plazo de recolección" name="finPlazoRecoleccion" id="plazoRecoleccion" >
                       		</div>
                       		<div class="col-sm-2">
                       			<a th:href="@{/ordenaTratamientos?por=APRee}"><img th:src="@{assets/img/up.png}"/></a>
                                <a th:href="@{/ordenaTratamientos?por=DPRee}"><img th:src="@{assets/img/down.png}"/></a>
                       		</div>                    	
                        </th>
                        <th>
	                        <button type="submit" class="btn btn-default btn-lg">
						  		<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
							</button>
						</th>	
							
	                    </tr>
		        	</thead>
	        	</form>
	        <tbody>
	            <tr th:each=" tratamiento:${tratamientos}">
	                <td><a th:text="${tratamiento.idTratamiento}" th:href="@{/modificarTratamiento(id=${tratamiento.idTratamiento})}"></a></td>
	                <td><p th:text="${tratamiento.cultivo.especie}"></p></td>
	                <td><p th:text="${tratamiento.producto.nombre}"></p></td>
	                <td><p th:text="${tratamiento.numeroLote}"></p></td>
	                <td><p th:text="${tratamiento.fechaTratamiento}"></p></td>
	                <td><p th:text="${tratamiento.finPlazoReentrada}"></p></td>
	                <td><p th:text="${tratamiento.finPlazoRecoleccion}"></p></td>
	                <td>
	                	<a th:href="@{/modificarTratamiento(id=${tratamiento.idTratamiento})}" class="btn btn-default btn-lg">
	                		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	                	</a>
	                </td>
	            </tr>            
	        </tbody>
	        <tfoot>
	            <tr>
	                <th>Tramiento</th>
	                <th>Cultivo</th>
	                <th>Producto</th>
	                <th>Numero de Lote</th>
	                <th>Fecha de tratamiento</th>
	                <th>Plazo de reentrada</th>
	                <th>Plazo de recolección</th>
	            </tr>
	        </tfoot>
	    </table>
	</div>
</body>
</html>